.icon-icon-5:before {
  content: "\e904";
}
.icon-icon-6:before {
  content: "\e90a";
}
.icon-icon-8:before {
  content: "\e90b";
}
.icon-icon-9:before {
  content: "\e90c";
}
.icon-icon-12:before {
  content: "\e90d";
}
.icon-icon-14:before {
  content: "\e90e";
}