.btn {
	&:not(.prevent-tt) {
		text-transform: uppercase;
	}
	&:not(.prevent-ta) {
		text-align: center;
	}
	color: #000;
	padding: 18px 50px;
	border: none;
	background-color: $accent-color;
	outline: none;
	vertical-align: top; // ! better to remove
	font-weight: 700;
	display: inline-block;
	margin: auto;
	&-arrow {
		width: 60px;
		height: 60px;
		line-height: 60px;
		font-size: 18px;
		padding: 0;
		color: #fff;

		&-features {
			margin-top: 35px;
			font-size: 40px;
		}
		&-sm {
			width: 30px;
			height: 30px;
			line-height: 30px;
			font-size: 10px;
		}
		&-down:before {
			content: "\e908";
		}
		&-up:before {
			content: "\e909";
		}
		&-left:before {
			content: "\e906";
		}
		&-right:before {
			content: "\e907";
		}
	}
}