.btn {
	&:not(.prevent-tt) {
		text-transform: uppercase;
	}
	&:not(.prevent-ta) {
		text-align: center;
	}
	padding: 18px 50px;
	border: none;
	background-color: $accent-color;
	outline: none;
	vertical-align: top; // ! better to remove
	font-weight: 700;
	&-arrow {
		width: 60px;
		height: 60px;
		line-height: 60px;
		font-size: 18px;
		padding: 0;
		color: #fff;
		&-sm {
			width: 30px;
			height: 30px;
			line-height: 30px;
			font-size: 10px;
		}
		&-down:before {
			content: "\e903";
			margin: -8px;
		}
		&-up:before {
			content: "\e904";
		}
		&-left:before {
			content: "\e901";
		}
		&-right:before {
			content: "\e902";
		}
	}
}