input, .input, textarea, .textarea {
	background: $form-bg;
	border: $form-border;
	color: $color;;
	font-size: $form-font-size;
	padding: 20px;
	font-family: $font-family-base;
} 


::-webkit-input-placeholder {color: $color; font-size: $font-size; font-weight: 300; font-family: $font-family-base;}
::-moz-placeholder          {color: $color; font-size: $font-size; font-weight: 300; font-family: $font-family-base;}
::-moz-placeholder           {color: $color; font-size: $font-size; font-weight: 300; font-family: $font-family-base;}
::-ms-input-placeholder      {color: $color; font-size: $font-size; font-weight: 300; font-family: $font-family-base;}