// File for scss-vars.
// For example: main colors, paddings and so on.

@import "bower_components/bootstrap/scss/variables";

// colors
$accent-color: #ffe600;
$lighten: #11343a;
$light: #112a2f;
$dark: #12191d;
$darken: #131316;

//type
$font-family-base: 'Oswald', sans-serif; 
