.m-quotes {
	&-carousel {
		text-align: center;
		.swiper-slide > .container > .row > [class*="col-"] {
			padding-left: 0;
		} // polyfill(?)
		&-pagination {
			.swiper-container-horizontal > &.swiper-pagination-bullets {
				position: relative;
				top: 12px;
				bottom: 0;
			}
			.swiper-container-horizontal > & .swiper-pagination-bullet {
				margin: 0 4px;
			}
			.swiper-pagination-bullet {
				border-radius: 0;
				background-color: #fff;
				opacity: 1;
				width: 5px;
				height: 5px;
				&.swiper-pagination-bullet-active {
					background-color: $accent-color;
				}
			}
		}
	}
	&-quote {
		display: block;
		line-height: 25px;
		&-text {
			display: inline;
		}
	}
	&-author {
		display: block;
	}
}
