<div class="block-inverse bg-dark">
	<div class="container">
		<h2 class="block-title">SEND US A MESSAGE</h2>
			<p class="block-desc no-line">Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur aliquet quam id dui posuere.</p>
				<div class="form pt-30 ">
					<div class="row" >
						<div class="col-md-4 col-sm-6 pt-30">
							<input type="text" placeholder="Your Name">
						</div>
						<div class="col-md-4 col-sm-6 pt-30 ">
							<input type="text" placeholder="Your Mail">
						</div>
						<div class="col-md-4 col-sm-6 pt-30 ">
							<input type="text" placeholder="Subject">
						</div>
					</div>	
				</div>
				<div class="area pt-30">
					<textarea name="" id="" cols="30" rows="10" placeholder="Enter Message Here..."></textarea>
				</div>
				<div class=""><a href="#" class="btn mt-30">SEND MESSAGE</a></div>
	</div>
</div>