 $block-inverse-color: #fff !default;

.block {
	&-title {
		margin: 0;
		margin-bottom: 34px;
	}
	&-title + &-desc {
		&:not(.prevent-ta) {
			text-align: center;
		}
		position: relative;
		&:not(.no-line) {
			&:after {
				content: '';
				display: block;
				position: absolute;
				top: -19px;
				left: -50%;
				right: -50%;
				max-width: 170px;
				height: 3px;
				margin: auto;
				background-color: $accent-color;
			}
		}
	}
	&-inverse {
		color: $block-inverse-color;
		h1,h2,h3,h4,h5,h6,
		.h1,.h2,.h3,.h4,.h5,.h6 {
			color: inherit;
		}
		&-accent {
			color: $accent-color;
		}
		input {
			border-color: $block-inverse-color;
			color: $block-inverse-color;
			&::-webkit-input-placeholder {
				color: $block-inverse-color;
			}
		}
	}
}
.bg {
	&-lighten {
		background-color: $lighten;
	}
	&-light {
		background-color: $light;
	}
	&-dark {
		background-color: $dark;
	}
	&-darken {
		background-color: $darken;
		width: 100%;
	}
}
.p {
	&-md {
		padding-top: (65 / 1170 * 100%);
		padding-bottom: (65 / 1170 * 100%);
	}
}
.pt-30 {
	padding-top: 30px;
}
.mt-30 {
	margin-top: 30px;
}