.block {
	&-title {
		margin: 0;
		margin-bottom: 34px;
	}
	&-title + &-desc {
		position: relative;
		&:after {
			content: '';
			display: block;
			position: absolute;
			top: -19px;
			left: -50%;
    		right: -50%;
			width: 65px;
			height: 1px;
    		margin: auto;
			background-color: $accent-color;
			// background-color: red;
		}
	}
}