




.jumbotron {
    height: 100vh;
    background-color: #11343a;
    margin: 0;
    padding: 0;
    border-radius: 0;

    .jumbotron_header {
        margin: 125px auto;
        padding: 30px 0;
        text-align: center;
        background-color:#112a2f;
        & h1 {
            color: white;
            margin: 0 50px;
            text-transform: uppercase;
        }
    }
}
