$bg_jumbotron: #11343a;
$bg_nav: #112a2f;


.jumbotron {
    height: 100vh;
    background-color: $bg_jumbotron;
    margin: 0;
    padding: 0;
    border-radius: 0;
    position: relative;
    .navbar {
        padding: 0;
        background-color: $bg_nav;
        .nav {
            float: right;
            margin: 10px 0;
            list-style-type: square;
            & li {
                color:#ffce00;
                padding: 17px 5px;
                float: left;
                margin: 0 17px;
                text-transform: uppercase;
                span {
                    color: white;
                    }
                span:hover {
                    color: #ffce00;
                }
                a {
                    font-size: 1.1vw;
                }
                a:hover {
                    text-decoration: none;
                }
            }
            .active a {
                    color:#ffce00;
            }
            & li:first-child {
                list-style: none;
            }
            & li:last-child {
                margin-right: 0;
            }
        }
    }
}
    .container-fluid {
        width: 80%;
    }
    .navbar-brand {
        margin: 10px 0;
        float: left;
    }
    .jumbotron_header {
        margin: auto;
        text-align: center;
        position: absolute;
        top: 0;
        bottom: -75px;
        right: 0;
        left: 0;
        height: 40%;
        background-color:$bg_nav;
        display: table;
        width: 100%;
        .container {
            display: table-cell;
            vertical-align: middle;
        }
        & h1 {
            color: white;
            margin: 0 50px;
            text-transform: uppercase;
            font-size: 5vw;
        }
        & button {
            margin-top: 25px;
            border-radius:0;
        }
    }
    .btn_arrow_btm {
        width: 18px;
        height: 36px;
        border-radius: 0;
        position: absolute;
        bottom: 0;
        right: 50%;
        left: 50%;
        margin-left: -18px;
        font-size: 1vw;
        svg {
            position: absolute;
            top: 30%;
            right: 50%;
            left: 27%;
        }

    }

