 <header class="jumbotron">
    <div class="fon">
        <nav class="jumbotron_nav">
            <img class="logo" src="image/logo.png">
            <menu class="menu">
                <ul>
                    <li class="menu__item"><a href="">Home</a></li>
                    <li class="menu__item"><a href="">Services</a></li>
                    <li class="menu__item"><a href="">Works</a></li>
                    <li class="menu__item"><a href="">About</a></li>
                    <li class="menu__item"><a href="">Clients</a></li>
                    <li class="menu__item"><a href="">Contact</a></li>
                    </ul>
            </menu>
        </nav>
        <section class="jumbotron_header">
            <div class="container">
                <div class="row">
                    <h1>Branding have another definition</h1>
                    <button>Buy this theme</button>
                </div>
            </div>
        </section>
    </div>
</header>