<div class="swiper-container clients-carousel p-md">
   <div class="swiper-wrapper">
      {{#each clients_slide}}
      <div class="swiper-slide clients-carousel-slide">
         <div class="clients-carousel-img-holder">
            <a href="{{link}}" class="clients-carousel-link"><img src="{{image}}" alt="" class="clients-carousel-img"></a>
         </div>
      </div>
      {{/each}}
   </div>
   <div class="clients-carousel-buttons">
      <button class="btn btn-arrow btn-arrow-sm font-icon btn-arrow-left clients-carousel-button-prev"></button>
      <button class="btn btn-arrow btn-arrow-sm font-icon btn-arrow-right clients-carousel-button-next"></button>
   </div>
</div>
